.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.media:hover {
  background-color: white;
  color: black;
}

@media (min-width: 406px) {
  .media {
    width: 28%;
  }
  .poster{
    height: 53%;
  }
}

@media (min-width: 512px) {
  .media {
    width: 28%;
  }
  .poster{
    height: 64%;
  }
}

@media (min-width: 724px) {
  .media {
    width: 18%;
  }
  .poster{
    height: 65%;
  }
}

@media (min-width: 1048px) {
  .media {
    width: 16%;
  }
  .poster{
    height: 70%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}
