.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.media:hover {
  background-color: white;
  color: black;
}

@media (min-width: 250px) {
  .media {
    width: 30%;
  }
  .poster{
    height: 40%;
  }
}

@media (min-width: 350px) {
  .media {
    width: 35%;
  }
  .poster{
    height: 50%;
  }
}

@media  (min-width: 406px){
  .media {
    width: 26%;
  }
  .poster{
    height: 43%;
  }
}

@media (min-width: 725px) {
  .media {
    width: 15%;
  }
  .poster{
    height: 56%;
  }
}

.poster {
  border-radius: 10px;
  height: 63%;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}
