.carouselItem {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 10px;
}
.carouselItem__img {
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px black;
}

@media (min-width: 400px){
  .carouselItem__img{
    width: 100%;
  }
}

@media (min-width: 550px){
  .carouselItem__img{
    width: 100%;
  }
}

@media (min-width: 725px){
  .carouselItem__img{
    width: 95%;
  }
}

@media (min-width: 1048px){
  .carouselItem__img{
    width: 80%;
  }
}